<%= provide :title, 'Home' %>

<section id='presenter'>
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center" style='margin-top: 80px; margin-bottom: 30px;'>
				<h2 class="bold">COZINHAR.COM.VC</h2>
				
				<div class='col-md-8 col-md-offset-2'>
				<%= form_for(:recipe) do |f| %>
					<div class="field col-md-8">
						<%= f.search_field :query, class: 'form-control', required: 'required',
						placeholder: 'Nome, Ingrediente, prato', autocomplete: 'off' %>
					</div>
					<div class="col-md-4">
						<%= f.submit 'Buscar Receita', class: 'btn btn-primary btn-lg top' %>
					</div>
				<% end %>
				</div>

				<div class="col-md-8 col-md-offset-2" style='padding-top: 20px;'>
					<ul class="list-unstyled list-inline">
						<li><%= link_to 'pastel', '' %></li>
						<li><%= link_to 'beringela', '' %></li>
						<li><%= link_to 'bolo de milho', '' %></li>
						<li><%= link_to 'maionese', '' %></li>
						<li><%= link_to 'brigadeiro', '' %></li>
						<li><%= link_to 'milho', '' %></li> |
						<li><%= link_to 'Categorias', '' %></li>
					</ul>
				</div>

				<div class="col-md-12"><br>
					<%= link_to new_recipe_path, class: 'btn btn-success btn-lg' do %>
						<i class="fas fa-edit"></i> Adicionar Receita
					<% end %>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="recipes" style='background-color: #EEE; margin-top: 30px; padding-top: 20px;'>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<% for i in 1..12 %>
				 <div class='col-md-3'>
				 	 <h5>
				 	 	 <%= image_tag('', class: 'avartar', style: 'width: 44px; height: 44px; border-radius: 44px; background-color: #FFF;') %>
				 	 	 <%= link_to 'John Doe', '' %> publicou
				 	 </h5>
					 <div class="panel panel-default">
					 		<div class="jumbotron" style='margin-bottom: 0px;'>
					 			<ul class="list-unstyled list-inline">
					 				<li>
					 					 <%= link_to '', class: 'pull-left' do %>
					 					 	 <i class='glyphicon glyphicon-search'></i>
					 					 <% end %>
					 				</li>
					 				<li>
					 					 <%= link_to '', class: 'pull-right' do %>
												<i class="glyphicon glyphicon-search"></i>
					 					 <% end %>
					 				</li>
					 			</ul>
					 		</div>
					 		<ul class="list-unstyled" style='padding-top: -10px; padding: 20px;'>
					 			<li><h3>Egg salad</h3></li>
					 			<li><p>by <%= link_to 'John Doe', '' %></p></li>
					 		</ul>
					 </div>
				</div>
				<% end %>
				
				<div class="col-md-12 text-center">
					<nav aria-label="Page navigation">
					  <ul class="pagination">
					    <li>
					      <a href="#" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
					    </li>
					    <li><a href="#">1</a></li>
					    <li><a href="#">2</a></li>
					    <li><a href="#">3</a></li>
					    <li><a href="#">4</a></li>
					    <li><a href="#">5</a></li>
					    <li>
					      <a href="#" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</section>